{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build\/infection.txt"
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": [
                "InVal\\*"
            ]
        },
        "IdenticalEqual": {
            "ignore": [
                "InVal\\*"
            ]
        }
    }
}